/* Declaring all global vaiables */
:root {
    --blue:  #140A25;
    --purple: #400D2A;
    --light-purple: #5A142A;
    --lighter-purple: #8F1D2C;
    --red: #DB2B30;
    --white: #fff;
    --gold: gold;
    --green: #00FF00;
}

/* Re-setting all default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common element styles */
body {
    background-color: var(--blue);
    color: var(--white);
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

form {
    border-radius: 5px;
    box-shadow: 0 0 2px #fff;
    background-color: transparent;
    max-width: 50vw;
    padding: 15px;
    margin: 0 auto;
}

input {
    margin: 5px 0;
}

.form-input-field {
    background-color: transparent;
    font-style: italic;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #E0E0E0;
    color: var(--white);
    display: block;
    /* max-height: 10vh; */
}

/* Navigation/Header Styles */

header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    text-transform: capitalize;
    height: 10vh;
    background-color: var(--purple);
}

#menu-icon {
    display: none;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
}

#brand-name, .navigation ul li a {
    display: inherit;
    padding: 10px;
    text-decoration: none;
    color: var(--white);
}

footer {
    background-color: var(--purple);
    text-align: center;
    position: absolute;
    top: 90vh;
    width: 100vw;
    padding: 10px;
    height: 10vh;
}

#main  {
    text-align: center;
    height: 80vh;
    overflow: auto;
    scroll-behavior: smooth;
}

/* Landing Page Styles */
#main section#welcome, #banking-section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: inherit;
}

#main a{
    width: fit-content;
    align-self: center;
}

#welcome-header {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1.5em;
}

/* Signup/Login pages styles */
section #form-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

form p {
    margin-top: 20px;
}

form a  {
    color: var(--lighter-purple);
    align-self: right;
}

/* After login styles */

#bank-section-row {
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#bank-section-row div {
    display: flex;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 5px;
}

#bank-section-row div a {
    text-align: center;
    display: inline-block;
    width: inherit;
    height: inherit;
    padding-top: 33.33%;
}

#bank-section-row div:hover {
    transform: scale(1.1);
    transition: all ease-in-out 500ms;
    box-shadow: 0 0 2px var(--white);
}

#my-bank {
    background-color: var(--purple);
}

#mutual-fund {
    background-color: var(--light-purple);
}

#wallet {
    background-color: var(--lighter-purple);
}

#insurance {
    background-color: var(--red);
}

#open-account-link-section, #login-landing-other-section {
    margin-top: 2em;
}

#login-landing-other-section {
    display: flex;
    /* align-self: center; */
    justify-content: space-around;
    /* max-width: 60vw; */
}

/* Open Bank Account Styles */

fieldset {
    padding: 5px;
    margin-bottom: 10px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

legend {
    color: var(--red);
    text-align: center;
}

label{
    width: 100%;
    display: block;
    text-align: start;
    margin: 10px 0;
}

.radio-text {
    color: var(--gold) !important;
}

option {
    background-color: var(--light-purple);
}

/* Dashboard Menu Styles */
#dashboard-menu {
    position: absolute;
    top: 13vh;
    left: 10vw;
}

#dashboard-menu-item-container {
    /* position:inherit; */
    position: relative;
    left: -25vw; /*for slide in*/
    list-style-type: none;
}

#open-btn, #close-btn {
    padding: .5em .7em;
    border-radius: 50%;
    cursor: pointer;
}

#open-btn {
    background-color: rgba(90, 20, 42, 0.5);
    box-shadow: 0 0 2px var(--white);
}

#close-btn {
    background-color: transparent;
}

/* Profile page styles */
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#profile-information section {
    margin: 3em auto;
    text-align: initial;
    line-height: 2em;
    max-width: 40vw;
}

#basic-info-update, #contact-info-update {
  margin: 0 auto;
  z-index: 1000;
  background-clip: padding-box;
}

.update-form label {
    color: var(--gold) !important;
}

.update-form input, .btn, .radio-text {
    color: var(--white) !important;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 8vh;
  transition: opacity 1000ms;
  transition: top 1000ms;
  visibility: hidden;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  top: 10vh;
}

.section-header {
    color: var(--lighter-purple);
}

.update-form {
    background-color: var(--purple) !important;
}

/* Transaction history styles */

#transactions {
    width : 80vw;
    margin: 0 auto;
}

#transaction {
    border: 1px solid rgba(90, 20, 42, 0.5);
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
}

/* .section-header {
    display: flex;
} */

.section-header span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.debit {
    background-color: var(--red);
}

.credit {
    background-color: var(--green);
}


/* Buttons styles */
.btn {
    border-radius: 5px;
    padding: 5px;
    border: .5px solid var(--red);
    background-color: var(--light-purple);
}

.large-btn {
    padding: 10px;
    font-size: 110%;
}

.btn-full-width {
    width: 100%;
}

.danger-btn {
    background-color: var(--red);
}

/* Misc Styles */
.visible {
    display: block;
}

.required {
    color: var(--red);
}

.heart-color {
    color: red;
}

.show-menu {
   transform: translate(25vw, 0) !important;
   transition: transform 500ms ease-in-out;
}

.dashboard-menu-item {
    padding: 10px 30px;
    border-bottom: .5px solid rgba(200, 144, 214, 0.856);
    text-transform: capitalize;
}

.dashboard-menu a {
    width: 100%;
}

/* .hide-menu {
    transform: translate(-25vw, 0) !important;
    transition: transform 500ms ease-in-out;
} */

/* SMART PHONES PORTRAIT */
@media only screen and (min-width: 320px) and (max-width: 800px) {

    form {
        border-radius: 5px;
        box-shadow: 0 0 2px #fff;
        background-color: transparent;
        padding: 10px;
        max-width: 90vw !important;
    }
    form#account-form {
        max-width: 90vw !important;
    }
    
    input {
        margin: 5px 0;
    }

    .form-input-field {
        background: transparent;
        font-style: italic;
        padding: 10px;
        width: 100%;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        background-color: var(--purple);
    }
    
    #menu-icon {
        /* align-self: flex-end; */
        display: block;
    }
    
    .navigation {
        background-color: var(--lighter-purple);
        display: flex;
        display: none;
        width: 100vw;
        text-align: center;
        position: fixed;
        top: 10vh;
    }
    
    .navigation ul {
        display: flex;
        flex-direction: column;
    }

    .navigation ul li {
        padding: 10px;
        color: var(--white);
    }

    #main {
        height: 80vh;
    }

    #bank-section-row div:hover {
        transform: scale(1.1);
        transition: all ease-in-out 500ms;
        box-shadow: 0 0 2px var(--white);
    }

    #profile-information section {
        max-width: 50vw;
    }

    #dashboard-menu-item-container {
    /* position:inherit; */
    /* position: relative; */
    /* left: -25vw; for slide in */
    /* list-style-type: none; */
        left: -50vw;
    }

    #open-btn {
        position: absolute;
        left: -2vw;
    }

    .show-menu {
        transform: translate(35vw, 0) !important;
        transition: transform 500ms ease-in-out;
    }

    #transactions {
        width: 90vw;
        text-align: left !important;
        margin: 0 auto;
    }

    #transaction {
        display: block;
        margin: 1em 0;
        padding: 0 1em;
        width: 100%;
        word-break: break-all;
        line-height: 1.5em;
    }

    .row {
        display: flex;
        border-radius: 1px solid var(--gold);
        /* flex-wrap: wrap; */
    }

    .label {
        width: 30%;
    }

    .detail {
        width: 70%;
    }

    .visible {
        display: block;
    }
}